DATABASE_URL="postgresql://neondb_owner:npg_fKDCEN7TZsw0@ep-jolly-cherry-ac2c9gul-pooler.sa-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

# Authentication
AUTH_SECRET="f4c2d7a9a180ebec15a45d3bc748fe49b52a3fc442be3dbed2e47cf57db7d0fa"
GOOGLE_CLIENT_ID="your-google-client-id"
GOOGLE_CLIENT_SECRET="your-google-client-secret"


# NutzPay
PUBLIC_KEY="ntz_live_e47b9e469dfdbe8244dd90ccedb136c4"
SECRET_KEY="ntz_secret_11ba6eab43cf81a1dfb5ebd8d05f35a8ab92df260b1efad27c0d88f7408879a3"
# Optional: NutzPay API base URL (default: https://nutzpay.com/api/v1)
# NUTZPAY_API_URL="https://nutzpay.com/api/v1"
# Optional: NutzPay authentication method (default: headers, options: bearer, basic, headers)
# NUTZPAY_AUTH_METHOD="headers"

# App Configuration
NEXT_PUBLIC_APP_URL="https://bsmarket.com.br"

# Demo Mode (set to false for production)
DEMO_MODE=false




RESEND_API_KEY=re_SEg6CKwD_N8mU229nq7rLyt1MXHey8gwF
FROM_EMAIL=noreply@yourdomain.com